h1 {
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 5px;
  color: var(--accent-color);
  margin-left: 50px;
  font-size: 60px;
}
.hero h1 {
  font-size: 2.5rem; /* Adjust the size as needed */
}
